#-------------------------------------------------------------------------------
# Node Files
#-------------------------------------------------------------------------------
#
# This section ignores the files that NPM and NodeJS install as part of
# routine use.
#
node_modules/*
package-lock.json

#-------------------------------------------------------------------------------
# Log Files
#-------------------------------------------------------------------------------
#
# This section ignores the files associated with Regent logging.
#
log/*

