<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Regent{% endblock %}</title>
    <link type="text/css" rel="stylesheet" href="/assets/css/regent.css">
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>
