{% extends "layouts/base.njk" %}

{% block body %}
    <h1>Regent</h1>
    <nav>
        <a
            href="https://www.github.com/stevethedev/regent/wiki"
            target="_blank">Documentation</a>
        <a
            href="https://www.github.com/stevethedev/regent"
            target="_blank">GitHub</a>
        <a
            href="https://www.stevethedev.com/"
            target="_blank">Steve the Dev</a>
    </nav>
{% endblock %}
